@charset "UTF-8";

body {
	padding: 2em;
}

#event-border {
	border: 2px solid #cccccc;
	margin: 4px 0px 10px 0px;
	border-radius: 10px;
}

#content {
	padding-top: 20px;
}

#row-margin {
	margin: 20px;
}

#tab-padding-date {
	padding-top: 12px;
	padding-left: 10px;
}

#tab-padding-info {
	padding-top: 12px;
	padding-right: 10px;
}

#tab-content-padding {
	padding-top: 20px;
}

#previous {
	text-decoration: none;
	color: inherit;
}

#link-guest {
	text-decoration: none;
}

#link-decoration {
	text-decoration: none;
}

.ng-hide-add { 
	animation:1s slideInLeft ease; 
}

.ng-hide-remove { 
	animation:1s slideOutRight ease; 
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}


